{% set title = 'Главная' %}

{% set markets = [
  {
    title: 'Apple.',
    href: '#!',
    icon: 'apple'
  },
  {
    title: 'Android.',
    href: '#!',
    icon: 'android'
  },
  {
    title: 'Windows.',
    href: '#!',
    icon: 'windows'
  }
] %}

{% set reviews = [
  {
    author: 'Николай Петров',
    text: '«Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»'
  },
  {
    author: 'Иван Николаев',
    text: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur repellendus eos omnis neque corporis, odio dolorum at quo sed. Maiores blanditiis labore iste, doloremque eum ab? Ratione architecto quasi necessitatibus.'
  },
  {
    author: 'Баба Нюра',
    text: 'Aspernatur repellendus eos omnis neque corporis, odio dolorum at quo sed. Maiores blanditiis labore iste, doloremque eum ab? Ratione architecto quasi necessitatibus.'
  }
] %}

{% set tariffs = [
  {
    title: 'База',
    price: '1,99',
    filter: 'yes',
    smiles: 'no',
    comments: 'no'
  },
  {
    title: 'Стандарт',
    price: '3,99',
    filter: 'yes',
    smiles: 'yes',
    comments: 'no'
  },
  {
    title: 'Анлим',
    price: '4,99',
    filter: 'yes',
    smiles: 'yes',
    comments: 'yes'
  }
] %}
